* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Zajmuje 100% wysokości okna przeglądarki */
}

canvas {
    background-color: #70c5ce; /* Kolor nieba jako tymczasowe tło */
    border: 2px solid #000;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}